services:
  web:
    build: .
    environment:
      MONGO_URI: mongodb://mongo:27017/TestePy
    depends_on:
      mongo:
        condition: service_healthy
    ports:
      - "8000:8000"
    command: uvicorn server:app --reload --port=8000 --host=0.0.0.0

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"   # optional (only if you want to connect from host)
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.runCommand({ ping: 1 })"]
      interval: 5s
      timeout: 3s
      retries: 10

volumes:
  mongo_data:
